body {
    background-color: #0d1a33; /* Dark blue background color */
    color: #fff; /* White text color */
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.train-icon {
    width: 100px;
    height: auto;
    border-radius: 50%; /* Makes the placeholder image circular */
    margin-bottom: 20px;
}

.title {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}

.subtitle {
    font-size: 1.5em;
    font-weight: normal;
    margin: 0 0 40px 0;
}

.instruction {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}